.container {
    background-color: lightblue;
    text-align: center;
}
.input {
  margin-top: 5px;
  margin-bottom: 5px;
}
.btn {
  margin-top: 5px;
  margin-bottom: 5px;
}
.dropdown {
    width: 180px;
    min-width: 180px;
}
