.main {
  text-align: center;
  width: min-content;
  height: min-content;
  margin: auto;
  padding-top: 10px;
}
.input {
  margin-top: 5px;
  margin-bottom: 5px;
}
.btn {
  margin-top: 5px;
  margin-bottom: 5px;
}

